.DS_Store
*.xccheckout
xcuserdata
Pods
DerivedData
.idea
.vscode
Build
adobe-rmsdk
**/ReaderClientCert.sig
**/APIKeys.swift
Carthage*
#**/GoogleService-Info.plist
**/TPPSecrets.swift
fastlane/report.xml
fastlane/*_output
Palace.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# Ignore temporary files
temp/

# Ignore Cartfile and Carfile.resolved (the bootstrap script copies them into
# place, and they can contain a liblcp secret, so they shouldn't be committed)
Cartfile
Cartfile.resolved

# Ignore build files
*.dSYM.zip
*.ipa

# Ignore txios-cli (Transifex CLI tool), it's auto-downloaded and built
txios-cli

