binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashlyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json"
binary "https://liblcp.dita.digital/readium/liblcp/ios/carthage/test/liblcp.json" ~> 3.0.0
github "readium/swift-toolkit" ~> 2.5.1
github "PureLayout/PureLayout" ~> 3.1.2
