<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>Development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:thepalaceproject.org</string>
		<string>applinks:thepalaceproject.page.link</string>
		<string>webcredentials:e-kirjasto.loikka.dev</string>
		<string>webcredentials:tunnistus.e-kirjasto.fi</string>
		<string>applinks:tunnistus.e-kirjasto.fi</string>
		<string>applinks:tunnistus.e-kirjassto.page.link</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)88CBA74T8K.org.thepalaceproject.palace.SharedKeychainGroup</string>
		<string>$(AppIdentifierPrefix)fi.kansalliskirjasto.e-kirjasto</string>
		<string>$(AppIdentifierPrefix)QA5XMCRV5M.app.loikka.e-kirjasto</string>
	</array>
</dict>
</plist>
